/* div#test {
  width: 2px;
  height: 400px;
  border-right: 2px solid gray;
  transform: rotate(135deg);
  margin-left: 310px;
}

div#test2 {
  width: 2px;
  height: 400px;
  border-right: 2px solid gray;
  transform: rotate(45deg);
  margin-left: 310px;
  margin-top: -70px;
}

div#main {
  width: 460px;
  float: left;
}

.ulT li,
.ulT2 li,
.ulT3 li {
  border-top: 2px solid gray;
}

.ulT p,
.ulT2 p,
.ulT3 p {
  position: absolute;
  top: 2px;
  left: 80px;
  color: white;
}

li {
  width: 150px;
  height: 50px;
  list-style-type: none;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
}

ul {
  position: absolute;
  left: 36px;
  top: 50px;
}

ul.ul2 {
  left: 520px;
}

ul.ul3 {
  left: 940px;
}

ul.ul4 {
  top: 308px;
}

ul.ul5 {
  top: 308px;
  left: 521px;
}

ul.ul6 {
  top: 308px;
  left: 941px;
}

.ulD li,
.ulD2 li,
.ulD3 li {
  border-bottom: 2px solid gray;
}

li.first,
.last {
  background: gray;
  color: white;
  border-top: 2px solid gray !important;
  border-bottom: 2px solid gray !important;
}

li.first {
  transform: skew(45deg);
  margin-left: 23px;
}

li.last {
  width: 104px;
  transform: skew(-45deg);
  margin-left: 25px;
}

.ulD p,
.ulD2 p,
.ulD3 p {
  margin: 0;
  position: absolute;
  bottom: 14px;
  color: white;
  left: 87px;
}

body {
  font-family: Arial, sans-serif;
  background: url(http://www.shukatsu-note.com/wp-content/uploads/2014/12/computer-564136_1280.jpg)
    no-repeat;
  background-size: cover;
  height: 100vh;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06d85f;
  margin: 80px 0;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: rgb(82, 105, 238);
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06d85f;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

.oneT,
.oneTS {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 10px 6px 0;
  border-color: transparent #d1631a transparent transparent;
}

.oneTS {
  border-color: transparent green transparent transparent;
} */
